# Creating and Connecting to SQLite Database in Python

> Contains all the `CURD` Operations.

## Creating Your First SQLite Database	

SQLite comes bundled with Python, so no need to install anything separately. Just import the sqlite3 library.


However, if you don’t have Python installed on your local machine, download it from python.org.

1. **Install SQLite (Pre-installed with Python)**

In [4]:
# Importing sqlite3 library to connect with SQLite database
import sqlite3

2. **Creating a New SQLite Database File and Connecting**
   
   The `sqlite3.connect()` method creates a new database if it doesn't exist, or connects to an existing one.

   Here, we are creating `students_database.db` database.

In [6]:
# Create or connect to an SQLite database file named 'sample_database.db'
db_connection = sqlite3.connect('student_database.db')

# Display the connection object
db_connection

3. **Creating a Cursor**
   
    A cursor acts like a pointer to interact with the database, allowing you to execute SQL commands.

In [8]:
# Create a cursor object to execute SQL commands
cursor = db_connection.cursor()

## Data Types 

- SQLite is a **dynamically typed** database and supports the following data types:

    - INTEGER: Whole numbers (e.g., 1, 2, 3)
    - REAL: Decimal numbers (e.g., 3.14)
    - TEXT: Strings (e.g., 'Alice', 'Python')
    - BLOB: Binary data (e.g., images or files)
    - NULL: Represents a missing value

4. **Creating a New Table in the Database**
   
    We will create a table named `students` with fields for `id`, `name`, and `age`.

In [10]:
# Execute a SQL command to create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER
)
''')
print("Table 'students' created successfully.")

Table 'students' created successfully.

5. **Verifying the Table Creation**
   
    We can verify that the table was created by listing all tables in the database.

In [12]:
# Execute a query to list all tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Fetch and print the result
tables = cursor.fetchall()
print("Tables in the database:", tables)

Tables in the database: [('students',)]

6. **Inserting Data into the Table**
   
    Let's add some sample records to the `students` table.

In [14]:
# Insert records into the 'students' table
cursor.execute("INSERT INTO students (name, age) VALUES ('Anushka', 23);")
cursor.execute("INSERT INTO students (name, age) VALUES ('Santosh', 20);")
cursor.execute("INSERT INTO students (name, age) VALUES ('Nidhi', 21);")
cursor.execute("INSERT INTO students (name, age) VALUES ('Vanama', 22);")

# Commit the changes to the database
db_connection.commit()
print("Data inserted successfully.")

Data inserted successfully.

7. **Fetching Data from the Table**
   
    Now, let's query the students table to retrieve the data we inserted.

In [16]:
# Execute a query to fetch all data from 'students' table
cursor.execute("SELECT * FROM students;")

# Fetch and display the data
data = cursor.fetchall()
print("Data in 'students' table:", data)

Data in 'students' table: [(1, 'Anushka', 23), (2, 'Santosh', 20), (3, 'Nidhi', 21), (4, 'Vanama', 22)]

8. **Handling Errors and Ensuring Connection Closure**
   
    It’s important to close the database connection to release resources. Use `try-except-finally` to handle any errors during the process.

In [18]:
try:
    # Insert a new student record
    cursor.execute("INSERT INTO students (name, age) VALUES ('Vinod', 24);")
    db_connection.commit()
    print("New data inserted.")
except sqlite3.Error as error:
    print("Error occurred:", error)
finally:
    # Close the database connection
    db_connection.close()
    print("Database connection closed.")

New data inserted.
Database connection closed.

# Creating tables in SQLite

1.  **Import SQLite Library and Connect to Database**

    Here, we are going to create a `school.db` database.

In [84]:
# Import the sqlite3 library
import sqlite3

# Connect to an SQLite database (or create it if it doesn't exist)
db_connection = sqlite3.connect('school.db')

# Create a cursor object to execute SQL queries
cursor = db_connection.cursor()

2. **Write and Execute CREATE TABLE SQL Statements**

In [86]:
# Create 'students' table
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    major TEXT
)
''')
print("'students' table created successfully.")

# Create 'courses' table
cursor.execute('''
CREATE TABLE IF NOT EXISTS courses (
    course_id INTEGER PRIMARY KEY,
    course_name TEXT NOT NULL,
    credits INTEGER
)
''')
print("'courses' table created successfully.")

'students' table created successfully.
'courses' table created successfully.

3. **Verify Table Creation**

In [88]:
# Query to list all tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Fetch and print the results
tables = cursor.fetchall()
print("Tables in the database:", tables)

Tables in the database: [('students',), ('courses',)]

# Inserting Data into SQLite Tables

1. **Single Data Insertion Using `execute()`**

In [90]:
# Insert a single student record
cursor.execute("INSERT INTO students (name, age, major) VALUES ('Alia', 21, 'Computer Science');")

# Commit the changes
db_connection.commit()
print("Single student record inserted.")

Single student record inserted.

2. **Multiple values Insertion Using `executemany()`**

In [92]:
# Prepare data for bulk insertion
courses_data = [
    (1, 'Mathematics', 4),
    (2, 'Physics', 3),
    (3, 'Chemistry', 4),
    (4, 'Computer Science', 3)
]

# Use executemany() for bulk insertion
cursor.executemany("INSERT INTO courses (course_id, course_name, credits) VALUES (?, ?, ?);", courses_data)

# Commit the changes
db_connection.commit()
print("Multiple course records inserted.")

Multiple course records inserted.

3. **Retrieve Inserted Data**

In [94]:
# Fetch and display data from 'students' table
cursor.execute("SELECT * FROM students;")
students_data = cursor.fetchall()
print("Students Data:", students_data)

# Fetch and display data from 'courses' table
cursor.execute("SELECT * FROM courses;")
courses_data = cursor.fetchall()
print("Courses Data:", courses_data)

Students Data: [(1, 'Alia', 21, 'Computer Science')]
Courses Data: [(1, 'Mathematics', 4), (2, 'Physics', 3), (3, 'Chemistry', 4), (4, 'Computer Science', 3)]

4. Handle Errors and Close the Connection

In [96]:
try:
    # Insert another student record
    cursor.execute("INSERT INTO students (name, age, major) VALUES ('Robin', 22, 'Physics');")
    db_connection.commit()
    print("New student record inserted.")
except sqlite3.Error as e:
    print("An error occurred:", e)
finally:
    # Close the connection
    db_connection.close()
    print("Database connection closed.")

New student record inserted.
Database connection closed.

# Reconnection and Deletion

1. **Reconnect to the database**

In [9]:
import sqlite3

# Reconnect to the database
db_connection = sqlite3.connect('school.db')
cursor = db_connection.cursor()
print("Reconnected to the database.")

Reconnected to the database.

2. **Delete Record with ID = 2**

In [13]:
# Delete the student record with ID = 2
cursor.execute("DELETE FROM students WHERE id = 2;")

# Commit the changes
db_connection.commit()
print("Record with ID = 2 has been deleted.")

Record with ID = 2 has been deleted.

3. **Verify the Deletion**

In [16]:
# Fetch and display remaining student records
cursor.execute("SELECT * FROM students;")
students_data = cursor.fetchall()
print("Updated Students Data:", students_data)

Updated Students Data: [(1, 'Alia', 21, 'Computer Science')]

4. **Close the connection**

In [20]:
# Close the database connection
db_connection.close()
print("Database connection closed.")

Database connection closed.

# Retreive list of database 

Unlike MySQL, SQLite doesn’t have a built-in command to list all databases. However, you can manually check for `.db` files in your working directory with the following code:

In [20]:
import os

1. **Retrieve created Databases**

In [22]:
# List all .db files in the current directory
databases = [f for f in os.listdir() if f.endswith('.db')]
print("Databases:", databases)

Databases: ['sample_database.db', 'school.db', 'students_database.db', 'student_database.db']

2. **Delete not required Databases.**

In [26]:
# List of databases to delete
databases_to_delete = ['students_database.db' ]
# Delete the specified databases
for db in databases_to_delete:
    if os.path.exists(db):
        os.remove(db)
        print(f"Deleted: {db}")
    else:
        print(f"{db} not found.")

Deleted: students_database.db

# Update

1. **Reconnect**

In [28]:
import sqlite3

# Reconnect to the database
db_connection = sqlite3.connect('school.db')
cursor = db_connection.cursor()
print("Reconnected to the database.")

Reconnected to the database.

2. **Update a Record in the students Table**

In [33]:
# Update the name of the student with ID = 1
cursor.execute("UPDATE students SET name = 'Alicia' WHERE id = 1;")

# Commit the changes
db_connection.commit()
print("Record updated successfully.")

Record updated successfully.

3. **Verify the Update**

In [36]:
# Fetch and display the updated records from the students table
cursor.execute("SELECT * FROM students;")
students_data = cursor.fetchall()
print("Updated Students Data:", students_data)

Updated Students Data: [(1, 'Alicia', 21, 'Computer Science')]

4. **Close the Connection**

In [39]:
# Close the database connection
db_connection.close()
print("Database connection closed.")

Database connection closed.

## SQLite Database File Extensions
- `.db` or `.sqlite` are the two most common extensions for SQLite databases.
- Both extensions are interchangeable, and it’s up to the developer’s preference.

1. `.db`: Often used for general-purpose database files.
2. `.sqlite`: This extension explicitly refers to SQLite.
   
Example:
- `student_records.db`
- `library.sqlite`