### Introduction to Database Schema

1. Schema: A schema defines the structure of the database, including the tables, columns, data types, and relationships between tables. It acts as the blueprint of how data is organized and how tables interact within the database.

2. Schema Example: A student database schema may contain a "Students" table with columns like StudentID, Name, Age, and Class. Another table, "Grades," may have columns like StudentID, Subject, and Grade, establishing a relationship between students and their grades.

### Exercise: Create a table structure for a simple application

- Let's design a "Student Management" application. Below code is a SQL code to create a table structure:

  <img src="s1.png" />

- Explanation:
    - StudentID: A unique identifier for each student (Primary Key, auto-increments).
    - Name: The student’s name (Text, cannot be null).
    - Age: The student’s age (Integer).
    - Class: The class the student is enrolled in (Text).
    - Email: The student’s email (Unique to avoid duplicates).
    - DOB: The student's Data of birth in date format.
    - PhoneNO: Stores the student's contact number as TEXT to accommodate different formats (e.g., with country codes or special characters).

## Creating a Database

### Creating Your First SQLite Database	
Let’s walk through creating a student management system database in Python.
>SQLite is built into Python’s standard library, so no installation is required. However, if you don’t have Python installed, download it from python.org.

In [46]:
import sqlite3

# Step 1: Connect to the SQLite database (creates 'student_records.db' if it doesn't exist)
conn = sqlite3.connect('student_records.db')

# Step 2: Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Step 3: Create the 'Students' table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Students (
    StudentID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL,
    Age INTEGER,
    Gender TEXT,
    Email TEXT UNIQUE
);
''')

# Step 4: Create the 'Courses' table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Courses (
    CourseID INTEGER PRIMARY KEY,
    CourseName TEXT NOT NULL,
    Credits INTEGER
);
''')

# Step 5: Create the 'Enrollments' table to link students to courses
cursor.execute('''
CREATE TABLE IF NOT EXISTS Enrollments (
    EnrollmentID INTEGER PRIMARY KEY,
    StudentID INTEGER,
    CourseID INTEGER,
    Grade TEXT,
    FOREIGN KEY (StudentID) REFERENCES Students (StudentID),
    FOREIGN KEY (CourseID) REFERENCES Courses (CourseID)
);
''')

# Step 6: Insert sample data into the 'Students' table
cursor.executemany('''
INSERT INTO Students (Name, Age, Gender, Email) VALUES (?, ?, ?, ?);
''', [
    ('Alice Johnson', 21, 'Female', 'alice0.j@example.com'),
    ('Bob Smith', 22, 'Male', 'bob0.s@example.com'),
    ('Charlie Davis', 20, 'Male', 'charlie0.d@example.com')
])

# Step 7: Insert sample data into the 'Courses' table
cursor.executemany('''
INSERT INTO Courses (CourseName, Credits) VALUES (?, ?);
''', [
    ('Data Science 101', 3),
    ('Python Programming', 4),
    ('Machine Learning', 4)
])

# Step 8: Insert sample data into the 'Enrollments' table
cursor.executemany('''
INSERT INTO Enrollments (StudentID, CourseID, Grade) VALUES (?, ?, ?);
''', [
    (1, 1, 'A'),
    (2, 2, 'B'),
    (3, 3, 'A'),
    (1, 3, 'B')
])

# Step 9: Commit the changes and close the connection
conn.commit()
conn.close()

print("Database and tables created successfully!")

OperationalError: database is locked

In [29]:
import sqlite3

In [31]:
# Step 1: Connect to the SQLite database (creates 'student_records.db' if it doesn't exist)
conn = sqlite3.connect('student_records.db')

In [33]:
# Step 2: Create a cursor object to execute SQL commands
cursor = conn.cursor()

In [35]:
# Step 3: Create the 'Students' table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Students (
    StudentID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL,
    Age INTEGER,
    Gender TEXT,
    Email TEXT UNIQUE
);
''')

# Step 4: Create the 'Courses' table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Courses (
    CourseID INTEGER PRIMARY KEY,
    CourseName TEXT NOT NULL,
    Credits INTEGER
);
''')

# Step 5: Create the 'Enrollments' table to link students to courses
cursor.execute('''
CREATE TABLE IF NOT EXISTS Enrollments (
    EnrollmentID INTEGER PRIMARY KEY,
    StudentID INTEGER,
    CourseID INTEGER,
    Grade TEXT,
    FOREIGN KEY (StudentID) REFERENCES Students (StudentID),
    FOREIGN KEY (CourseID) REFERENCES Courses (CourseID)
);
''')

In [39]:
# Step 6: Insert sample data into the 'Students' table
cursor.executemany('''
INSERT INTO Students (Name, Age, Gender, Email) VALUES (?, ?, ?, ?);
''', [
    ('Alice Johnson', 21, 'Female', 'alice11.j@example.com'),
    ('Bob Smith', 22, 'Male', 'bob13.s@example.com'),
    ('Charlie Davis', 20, 'Male', 'charlie13.d@example.com')
])

# Step 7: Insert sample data into the 'Courses' table
cursor.executemany('''
INSERT INTO Courses (CourseName, Credits) VALUES (?, ?);
''', [
    ('Data Science 101', 3),
    ('Python Programming', 4),
    ('Machine Learning', 4)
])

# Step 8: Insert sample data into the 'Enrollments' table
cursor.executemany('''
INSERT INTO Enrollments (StudentID, CourseID, Grade) VALUES (?, ?, ?);
''', [
    (1, 1, 'A'),
    (2, 2, 'B'),
    (3, 3, 'A'),
    (1, 3, 'B')
])
# Step 9: Commit the changes and close the connection
conn.commit()
conn.close()

print("Database and tables created successfully!")

Database and tables created successfully!

In [41]:

# Connect to the SQLite database (ensure the correct path is used)
conn = sqlite3.connect('student_records.db')
cursor = conn.cursor()

# Fetch all tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Check if any tables are present
if tables:
    print("Tables in the database:")
    for table in tables:
        print(f"- {table[0]}")
        
        # Fetch all rows from the current table
        cursor.execute(f"SELECT * FROM {table[0]};")
        rows = cursor.fetchall()
        
        # Get column names for better readability
        col_names = [desc[0] for desc in cursor.description]
        
        # Display the content of the table
        print(f"Content of {table[0]}:")
        print(f"{col_names}")
        for row in rows:
            print(row)
        print("\n" + "="*50 + "\n")
else:
    print("No tables found in the database.")

# Close the connection
conn.close()

Tables in the database:
- Students
Content of Students:
['StudentID', 'Name', 'Age', 'Gender', 'Email']
(1, 'Alice Johnson', 21, 'Female', 'alice.j@example.com')
(2, 'Bob Smith', 22, 'Male', 'bob.s@example.com')
(3, 'Charlie Davis', 20, 'Male', 'charlie.d@example.com')
(4, 'Alice Johnson', 21, 'Female', 'alice1.j@example.com')
(5, 'Bob Smith', 22, 'Male', 'bob1.s@example.com')
(6, 'Charlie Davis', 20, 'Male', 'charlie1.d@example.com')
(7, 'Alice Johnson', 21, 'Female', 'alice11.j@example.com')
(8, 'Bob Smith', 22, 'Male', 'bob13.s@example.com')
(9, 'Charlie Davis', 20, 'Male', 'charlie13.d@example.com')

==================================================

- Courses
Content of Courses:
['CourseID', 'CourseName', 'Credits']
(1, 'Data Science 101', 3)
(2, 'Python Programming', 4)
(3, 'Machine Learning', 4)
(4, 'Data Science 101', 3)
(5, 'Python Programming', 4)
(6, 'Machine Learning', 4)
(7, 'Data Science 101', 3)
(8, 'Python Programming', 4)
(9, 'Machine Learning', 4)

==================================================

- Enrollments
Content of Enrollments:
['EnrollmentID', 'StudentID', 'CourseID', 'Grade']
(1, 1, 1, 'A')
(2, 2, 2, 'B')
(3, 3, 3, 'A')
(4, 1, 3, 'B')
(5, 1, 1, 'A')
(6, 2, 2, 'B')
(7, 3, 3, 'A')
(8, 1, 3, 'B')
(9, 1, 1, 'A')
(10, 2, 2, 'B')
(11, 3, 3, 'A')
(12, 1, 3, 'B')

==================================================

- Explain the .databases command to list all databases.
- Discuss file extension .sqlite or .db.

### SQLite Database File Extensions
- .db or .sqlite are the two most common extensions for SQLite databases.
- Both extensions are interchangeable, and it’s up to the developer’s preference.
>Example:
    - student_records.db
    - library.sqlite